import java.util.Scanner;
public class loop {
    public static void main(String[] args) {
        System.out.println("inter a positive num");
    
        Scanner input=new Scanner(System.in);

        int n ;
        n=input.nextInt();
        int o;

        for ( o =0;o<=1;o++)
        {
            System.out.print(n);
        }
    
    
    
    
    
    
    }
    
}
